{% extends 'partials/base.html' %}
{% block content  %}
<div class="container">
<div class="alarm">
       <h3>py<img src="/static/images/clock.svg" alt="" height="50%" width="10%"></h3>
    </div>
    <div class="container">
        <header>About PyAlarm</header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Iusto itaque, impedit fugiat explicabo doloribus ullam 
             inventore quis hic omnis alias repudiandae maxime odit quod 
            ratione placeat atque temporibus, culpa repellat!</p>
    </div>
{%  endblock %}